.circularProgress {
  position: absolute;
  right: 50%;
  top: 30%;
}

.portfolioList {
  display: flex;
  justify-content: center;
}

.containerPhotos {
  display: flex;
  justify-content: center;
}

.image {
  cursor: nw-resize;
}

@media (max-width: 600px) {
  .portfolioList {
    padding: 0 0.25em;
  }
}

@media (min-width: 600px) {
  .portfolioList {
    margin: 0 15%;
  }
}
