.portfolioList {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.containerPhotos {
  display: flex;
  justify-content: center;
}

.image {
  cursor: nw-resize;
}

@media (max-width: 600px) {
  .portfolioList {
    padding: 0 0.5em;
  }
}
