.menuBarMobile {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  background-color: white;
  padding: 0.5em;
  z-index: 2;
  transition: top 0.5s;
}

.navBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  position: fixed;
  z-index: 10;
  background-color: white;
}

.navBarItems {
  color: black;
  font-weight: 800;
  font-size: 1.25em;
}

.navBarItem {
  display: inline-flex;
  align-items: center;
  margin-right: 24px;
}

.socialSectionsDesktop {
  z-index: 11;
  position: fixed;
  padding: 0.5em;
  right: 75px;
}

.socialSectionsMobile {
  display: flex;
  gap: 0.5em;
  margin-right: 1em;
}

@media (min-width: 600px) {
  .navBarItem::before {
    content: "";
    width: 8px;
    height: 8px;
    position: relative;
    background: transparent;
    border: 1.5px solid;
    border-radius: 50%;
    box-sizing: border-box;
    margin-right: 12px;
    transition: background 1s cubic-bezier(0.19, 1, 0.22, 1),
      transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .navBarItemSelected::before {
    background: black;
  }
}

@media (max-width: 600px) {
  .headerMenu {
    padding: 14px;
  }

  .navBarItems {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1em;
    font-size: 1.5em;
  }
}
