.homeContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 15%;
}

.homeTitle {
  margin: 0;
  font-size: 5em;
  margin-left: -1em;
}

.homeImg {
  width: 100%;
  object-fit: cover;
  object-position: 50% 70%;
  aspect-ratio: 2;
}

.homeFirstParagraph {
  margin-bottom: 0;
  font-size: 30px;
  margin-right: 10px;
  position: relative;
  color: white;
  text-align: right;
  padding-right: 75px;
  font-weight: 600;
  right: 0;
  bottom: 200px;
}

.secondParagrahContainer {
  display: flex;
  gap: 5em;
  align-items: center;
}

.homeSecondParagraph {
  text-align: justify;
}

.imagesContainer {
  display: flex;
  margin-top: 100px;
  width: 100%;
  justify-content: space-between;
}

.imagesContainer img:first-of-type {
  width: 50%;
}

.imagesContainer img:nth-of-type(2) {
  width: 40%;
  object-fit: contain;
}

.lastImg {
  width: 100%;
  align-self: center;
  margin-top: 75px;
}

@media (min-width: 600px) {
  .secondParagraphImg {
    aspect-ratio: 5/4;
    object-fit: cover;
    justify-self: flex-end;
    object-position: 0 25%;
    width: 50%;
  }

  .homeBanner {
    margin-bottom: -5em;
  }

  .homeSecondParagraph {
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  .homeImg {
    height: 90vh;
    object-position: 51% 70%;
  }
  .homeFirstParagraph {
    margin-bottom: 0;
    font-size: 1.5em;
    margin-right: 0.5em;
    padding-right: 0;
    bottom: 150px;
  }
  .homeContainer {
    margin: 0 0.5em;
  }

  .secondParagrahContainer {
    flex-direction: column-reverse;
  }

  .secondParagraphImg {
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
  }

  .homeSecondParagraph {
    font-size: 1.5em;
    margin: 0 0.5em;
  }

  .lastImg {
  }
}
