.aboutContainer {
  display: flex;
  margin: 0 20%;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-family: Plus Jakarta Sans, "sans-serif";
}

.aboutHeader {
  display: flex;
  width: 100%;
}

.aboutHeaderTitle {
  margin: 0;
  text-align: right;
  position: relative;
}

.aboutImageWrapper {
  width: 100%;
}

.aboutImage {
  width: 100%;
}

.p0 {
  font-size: 50px;
  color: black;
  text-align: justify;
}

.paragraphOneDiv {
  display: flex;
  align-items: center;
}

.paragraphOneImg {
  width: 35%;
}

.p1 {
  font-size: 30px;
  color: black;
  max-width: 60%;
  text-align: justify;
}

.p2,
.p3,
.p4,
.p5 {
  font-size: 30px;
}

.p5 {
  font-weight: bold;
}

.endPresentationContainer {
  display: flex;
  flex-direction: column;
}

.endPresentation {
  display: flex;
  justify-content: space-between;
  gap: 5%;
  font-weight: bold;
}

.endPresentation img:nth-child(2) {
  position: relative;
  top: 75px;
}

.endPresentation img:nth-child(3) {
  position: relative;
}

.endPresentationTitle1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 75px;
  margin: 0;
}

.endPresentationTitle2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 75px;
  margin: 0;
  align-self: flex-end;
}

@media (max-width: 600px) {
  .aboutHeaderTitle {
    position: absolute;
    font-size: 50px;
    z-index: 1;
    color: white;
    text-align: left;
    top: 0.25em;
  }
  .p0 {
    font-size: 30px;
  }
  .paragraphOneDiv {
    gap: 0.25em;
  }

  .p1 {
    font-size: 17px;
    text-align: left;
  }

  .paragraphOneImg {
    width: 45%;
    aspect-ratio: 1/1.6;
    object-fit: cover;
  }

  .p2,
  .p3,
  .p4,
  .p5 {
    font-size: 20px;
  }
  .aboutContainer {
    margin: 0 0.5em;
  }

  .endImage1 {
    z-index: -1;
  }

  .endPresentationContainer {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .endPresentation img:nth-child(1) {
    position: relative;
    top: -10px;
    z-index: -1;
  }

  .endPresentation img:nth-child(2) {
    top: 15px;
  }

  .endPresentation img:nth-child(4) {
    position: relative;
    top: -50px;
  }
}

@media (min-width: 600px) {
  .aboutHeaderTitle {
    top: -15px;
    line-height: 1.1em;
    font-size: 4.5em;
  }

  .paragraphOneDiv {
    justify-content: space-between;
  }

  .endPresentationContainer {
    margin-top: 250px;
    margin-bottom: 250px;
  }
  .endPresentation img:nth-child(3) {
    top: -75px;
  }
}
