.aboutContainer {
  display: flex;
  margin: 0 20%;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-family: Plus Jakarta Sans, "sans-serif";
}

.aboutHeader {
  display: flex;
  width: 100%;
}

.aboutHeaderTitle {
  margin: 0;
  font-size: 100px;
  text-align: right;
  top: -15px;
  line-height: 100px;
  position: relative;
}

.aboutImageWrapper {
  width: 100%;
}

.aboutImage {
  width: 100%;
}

.p0 {
  font-size: 50px;
  color: black;
}

.p1 {
  font-size: 30px;
  color: black;
  max-width: 50%;
  text-align: justify;
}

.endPresentationContainer {
  margin-top: 250px;
  margin-bottom: 250px;
  display: flex;
  flex-direction: column;
}

.endPresentation {
  display: flex;
  justify-content: space-between;
  gap: 10%;
  font-weight: bold;
}

.endPresentation img:nth-child(2) {
  position: relative;
  top: 75px;
}

.endPresentation img:nth-child(3) {
  position: relative;
  top: -75px;
}

.endPresentationTitle1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 75px;
  margin: 0;
}

.endPresentationTitle2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 75px;
  margin: 0;
  align-self: flex-end;
}

@media (max-width: 600px) {
  .aboutHeaderTitle {
    position: absolute;
    font-size: 50px;
    z-index: 1;
    color: white;
  }
  .aboutContainer {
    margin: 0;
  }
}
